@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #848484;
    font-family: 'Lato', 'sans-serif';
}

header {
    border-bottom: 0.5px solid #D8D8D8;
    display: flex;
    justify-content: center;
}

header h3 {
    padding: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F2F2F2;
    margin-left: 5px;
}

.button-clients {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.button-clients button{
    background-color: #1C1C1C;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 160px;
    cursor: pointer;
    font-family: 'Lato', 'sans-serif';
    font-weight: medium;
}

.button-clients button:hover {
    background-color: #C4C4C4;
    color: #000000;
    transition-duration: 1s;
}

.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    margin: 50px 170px 50px 170px;
    padding: 40px;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    background-color: #C4C4C4;
    gap: 10px;
}



.form .label {
    display: flex;
    gap: 32px;
}


.form label {
    display: inline-block;
    width: 200px;
}

.form .input{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.form input, select{
    padding: 10px;
    width: 200px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.buttons-actions {
    display: flex;
    justify-content: right;
    gap: 25px;
    padding-top: 10px;
}

.button-clear {
    position: relative;
    margin-right: 580px;
}

.buttons-actions button {
    position: relative;
    padding: 10px;
    width: 100px;
    font-weight: bold;
    color: #F2F2F2;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #1C1C1C;
    cursor: pointer;
}


.buttons-actions button:hover {
    background-color: #04B486;
    color: #FFFFFF;
    border: none;
    box-shadow: none;
    font-weight: lighter;
    transition-duration: 0.5s;
}


table {
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: auto;
}

table thead{
    background-color: #424242;
    color: #04B486;
}
table thead tr th:first-of-type{
    border-top-left-radius: 5px;
}

table thead tr th:last-of-type{
    border-top-right-radius: 5px;
}

table tr th {
    padding: 20px;
}

table tr td {
    padding: 15px 15px 15px 15px;
}

table tbody tr td {
    text-align: center;
    background-color: #1C1C1C;
    color: #F7F8E0;
    font-size: 15px;

}


table tbody tr td button {
    background-color: #04B486;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 50px;
    margin-right: 5px;
    cursor: pointer;
    font-family: 'Lato', 'sans-serif';
    font-weight: medium;
}

table tbody tr td button:hover {
    background-color: #C4C4C4;
    color: #000000;
    transition-duration: 1s;
}

h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #04B486;
}

ul {
    background-color: #04B486;
    list-style: none;
    background-color: #FFFFFF;
    padding: 10px;
    width: 660px;
    border-radius: 5px;
}

.view {
    background-color: #424242;
}

.view label {
    color: #FFFFFF;
}

.view button {
    background-color: #04B486;
}

.view button:hover{
    background-color: #FFFFFF;
    color: #000000;
}