@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #848484;
    font-family: 'Lato', 'sans-serif';
}

header {
    border-bottom: 0.5px solid #D8D8D8;
    display: flex;
    justify-content: center;
}

header h3 {
    padding: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #F2F2F2;
    margin-left: 5px;
}

.button-clients {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.button-clients button{
    background-color: #1C1C1C;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    width: 160px;
    cursor: pointer;
    font-family: 'Lato', 'sans-serif';
    font-weight: medium;
}

.button-clients button:hover {
    background-color: #C4C4C4;
    color: #000000;
    transition-duration: 1s;
}

.client-add-form {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    margin: 50px 170px 50px 170px;
    padding: 40px;
    box-shadow: 10px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #C4C4C4;
    gap: 10px;
}

.active {
    visibility: visible;
}


.client-add-form .label {
    display: flex;
    gap: 32px;
}


.client-add-form label {
    display: inline-block;
    width: 200px;
}

.client-add-form .input{
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.client-add-form input, select{
    padding: 10px;
    width: 200px;
    outline: none;
    border-radius: 5px;
    border: none;
}

.button-save-cancel-clear {
    display: flex;
    justify-content: right;
    gap: 25px;
    padding-top: 10px;
}

.button-clear {
    position: relative;
    right: 540px;
}

.button-save-cancel-clear button {
    position: relative;
    padding: 10px;
    width: 100px;
    font-weight: bold;
    color: #F2F2F2;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #1C1C1C;
    cursor: pointer;
}


.button-save-cancel-clear button:hover {
    background-color: #C4C4C4;
    color: #000000;
    border: 1px solid #000000;
    box-shadow: none;
    font-weight: lighter;
    transition-duration: 0.5s;
}

footer {
    position: relative;
    width: 100%;
    height: 45px;
    bottom: 0;
    border-top: 1px solid #FFFFFF;
    text-align: center;
    padding-top:  10px;
    color: #F2F2F2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: medium;
    font-size: 15px;

}